# Build Folders
bin/
obj/

# User-Specific Files
.vs/
.vscode/
*.suo
*.user
*.cache
*.log

# NuGet Packages
*.nuget
packages/

# Configuration Files (If They Contain Secrets)
appsettings.json
appsettings.Development.json

# Other
*.dll
*.exe
*.pdb

.fake